[Desktop Entry]
Name=Sala 1 INEMI
Exec=/usr/local/bin/cambiaVlan.sh 192.168.66.19 50 33 34
Comment=Asigna la sala 1 a la vlan de INEMI
Terminal=true
PrefersNonDefaultGPU=false
Icon=network-wired-symbolic
Type=Application
Name[es_ES]=Sala_1_INEMI
