[Desktop Entry]
Name=Sala 1 Hacienda
Exec=/usr/local/bin/cambiaVlan.sh 192.168.66.19 20 33 34
Comment=Asigna la sala 1 a la vlan de Hacienda
Terminal=true
PrefersNonDefaultGPU=false
Icon=network-wired-symbolic
Type=Application
Name[es_ES]=Sala_1_Hacienda
