[Desktop Entry]
Name=Sala 3 Hacienda
Exec=/usr/local/bin/cambiaVlan.sh 192.168.66.19 20 37 38
Comment=Asigna la sala 3 a la vlan de Hacienda
Terminal=true
PrefersNonDefaultGPU=false
Icon=network-wired-symbolic
Type=Application
Name[es_ES]=Sala_3_Hacienda
