[Desktop Entry]
Name=Sala 6 INEMI
Exec=/usr/local/bin/cambiaVlan.sh 192.168.66.19 50 42 16
Comment=Asigna la sala 6 a la vlan de INEMI
Terminal=true
PrefersNonDefaultGPU=false
Icon=network-wired-symbolic
Type=Application
Name[es_ES]=Sala_6_INEMI
